@import "@/assets/styles/scss/theme/variables";
@import "@/assets/styles/scss/theme/mixin";

/* 
  Global Classes
  --------------------------------------------
*/

// @font-face {
//   font-family: Tajawal;
//   src: url("../font/ar/Tajawal-Black.ttf");
//   src: url("../font/ar/Tajawal-Bold.ttf");
//   src: url("../font/ar/Tajawal-ExtraBold.ttf");
//   src: url("../font/ar/Tajawal-ExtraLight.ttf");
//   src: url("../font/ar/Tajawal-Light.ttf");
//   src: url("../font/ar/Tajawal-Medium.ttf");
//   src: url("../font/ar/Tajawal-Regular.ttf");
//   unicode-range: U+0600-06FF;
// }
@font-face {
  font-family: Poppins;
  src: url("../Fonts/Poppins-Black.ttf");
  src: url("../Fonts/Poppins-Bold.ttf");
  src: url("../Fonts/Poppins-Medium.ttf");
  src: url("../Fonts/Poppins-Regular.ttf");
}

@font-face {
  src: url("../Fonts/abdo/Abdo-Master-Heavy.otf");
  src: url("../Fonts/abdo/Abdo-Master-Light.otf");
  src: url("../Fonts/abdo/Abdo-Master-SemiBold.otf");
  src: url("../Fonts/abdo/Abdo\ Master\ SemiBold.otf");
  src: url("../Fonts/abdo/alfont_com_AlFont_com_Abdo-Master-Regular.otf");
  font-family: Abdo-Master;
}
:root {
  --p-select-option-selected-background: #146890 !important;
  --p-select-option-selected-focus-background: #146890 !important;
  --p-select-option-selected-focus-color: #fff !important;
  --p-select-option-selected-color: #fff !important;
  --p-select-placeholder-color: #fff !important;
  --p-select-color: #fff !important;
  --p-rating-icon-hover-color: #146890 !important;
  --p-rating-icon-active-color: #146890 !important;
  --p-rating-icon-size: 20px !important;
  --p-rating-gap: 5px !important;
}

.v-tab__slider {
  height: 0 !important;
  margin-bottom: 0.5rem !important;
  border: none !important;
}

.v-slide-group {
  padding: 5px 0 !important;
  height: auto !important;
}

body {
  overflow-x: hidden;
}
body,
* {
  @include vertical-scrollbar(8px, "#f7eb87", $main, "#b79a00");

  *::selection {
    color: #fff;
    background: $main;
  }
  /* For Mozilla Firefox */
  *::-moz-selection {
    color: #fff;
    background: $main;
  }
}

.bodyAR {
  font-family: Abdo-Master;
  direction: rtl;
  //edit flux button
  .flux-controls {
    button {
      transform: rotate(180deg) !important;
      margin: 50px !important;
    }
  }
}
.bodyEN {
  direction: ltr;
  font-family: Poppins, sans-serif;
}

.cont {
  margin: 0px 55px;
  @media (max-width: 768px) {
    margin: 0px 10px;
  }
}

// nav margin
.nav-margin {
  margin-top: 170px;
  @media (max-width: 991px) {
    margin-top: 80px;
  }
}
// nav padding
.nav-padding {
  padding-top: 170px;
  @media (max-width: 991px) {
    padding-top: 80px;
  }
}

.line-through {
  text-decoration: line-through #45b2e9 !important;
  font-size: smaller !important;
}

a {
  color: #fff;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $main;
  }
}
.linkA {
  a {
    color: #333;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $main;
    }
  }
}

#awn-toast-container {
  right: 40% !important;
  top: 40% !important;
}

@media screen and (max-width: 992px) {
  #awn-toast-container {
    right: 7% !important;
    top: 40% !important;
  }
}

.form-control:focus,
.form-select:focus {
  outline: none;
  box-shadow: none;
}

.form-select-en {
  background-position: right 0.75rem center !important;
}

.form-select-ar {
  background-position: left 0.75rem center !important;
}

.white {
  color: white;
}

.color {
  color: $main;
}

.background {
  background: linear-gradient(to left, #146890, #45b2e9, #146890);
}

.pointer {
  cursor: pointer !important;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.alert {
  position: fixed !important;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

// .btn-main {
//   background-color: $gold;
//   color: #fff;
//   padding: 8px 30px;
//   text-align: center;
//   border: none !important;
//   // border-radius: 3px;
//   transition: $transition;
//   font-weight: bold;
//   border: 2px solid $gold;
//   border-radius: 7px;
//   &:hover {
//     opacity: 0.9;
//     color: #000000;
//     // border-color: $green;
//     background-color: $medium-gold;
//   }
// }
.btn-main2 {
  background-color: #fff;
  color: $blue;
  padding: 8px 50px;
  text-align: center;
  border: none;
  border-radius: 30px;
  transition: $transition;
  font-weight: bold;
  border: 2px solid $blue;
  &:hover {
    background-color: $blue;
    color: #fff;
  }
}

.btn-main {
  position: relative;
  background: linear-gradient(to right, #146890, #45b2e9, #146890);
  color: ghostwhite !important;
  overflow: hidden;
  border: 1px solid $main;
  border-radius: 0;
  span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    color: $main;
  }
  &::after,
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &::before {
    content: "";
    background: #fff;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  &:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  &:hover {
    span {
      color: ghostwhite !important;
    }
  }
}

.btn-custom {
  background: linear-gradient(90deg, #fbe9b0 0%, $medium-gold 100%);
  color: #212529;
  border-radius: 0px;
  line-height: 38px;
  width: 100%;
  text-transform: uppercase;
  border: none;
  position: relative;
  overflow: hidden;
  color: #fff;
  padding: 0 30px;
  &:before {
    position: absolute;
    left: -145px;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    opacity: 0;
    transform: skew(40deg);
    transition: all 0.3s ease 0s;
    // left: 180px;
    opacity: 0;
  }
  &:hover:before {
    left: 500px;
    opacity: 0.3;
  }
  &.primary-btn {
    display: block;
    width: max-content;
  }
}

.golden-gradient-background {
  background: -webkit-linear-gradient(
    90deg,
    $gold 5%,
    $medium-gold 20%,
    $light-gold-v2 40%,
    $light-gold-v2 60%,
    $medium-gold 80%,
    $gold 95%
  );
  background: -moz-linear-gradient(
    90deg,
    $gold 5%,
    $medium-gold 20%,
    $light-gold-v2 40%,
    $light-gold-v2 60%,
    $medium-gold 80%,
    $gold 95%
  );
  background: -o-linear-gradient(
    90deg,
    $gold 5%,
    $medium-gold 20%,
    $light-gold-v2 40%,
    $light-gold-v2 60%,
    $medium-gold 80%,
    $gold 95%
  );
  background: linear-gradient(
    90deg,
    $gold 5%,
    $medium-gold 20%,
    $light-gold-v2 40%,
    $light-gold-v2 60%,
    $medium-gold 80%,
    $gold 95%
  );
}
.truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.responsive-padding {
  padding: 1rem 3rem !important;
  @media (max-width: 767.98px) {
    padding: 2.5rem !important;
  }
  @media (max-width: 400.98px) {
    padding: 2rem !important;
  }
}

.gradient {
  background: linear-gradient(to left, red, darkred);
}

.mainheaderslider {
  // height: 700px;
  overflow: hidden;

  .swiper-pagination {
    background: linear-gradient(to left, red, darkred);
    width: auto !important;
    margin: 0 auto !important;
    border-radius: 35px;
    left: 50% !important;
    padding: 0.2rem 2rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
  }
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: 15px !important;
    height: 15px !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
  }

  .swiper-pagination-bullet {
    background-color: white !important;
    opacity: 0.6 !important;
  }

  .swiper-pagination-bullet-active {
    opacity: 1 !important;
  }
}

.categories,
.offers,
.product-info,
.home {
  --swiper-pagination-color: #146890;
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-bullet-size: 20px;
  --swiper-pagination-bullet-inactive-opacity: 1;
  // @media (max-width: 991px) {
  //   --swiper-pagination-bullet-size: 15px;
  //   --swiper-pagination-bottom: -20px;
  // }

  @media (max-width: 991px) {
    --swiper-pagination-bullet-size: 12px;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-radius: 4px !important;
    transform: rotate(45deg) !important;
    background: linear-gradient(45deg, #146890, #45b2e9, #146890) !important;
    border: 2px solid $main;
  }

  .swiper-pagination-bullet {
    background: transparent !important;
    border: 2px solid $main;
    border-radius: 4px !important;
    transform: rotate(45deg) !important;
  }

  .swiper-pagination-bullet {
    margin: 0px 8px !important;

    @media (max-width: 768px) {
      margin: 0px 4px !important;
    }
  }
}
.home {
  --swiper-pagination-bottom: 20px !important;
  @media (max-width: 991px) {
    --swiper-pagination-bottom: 10px !important;
  }
}
.review {
  // swiper
  .swiper-button-next,
  .swiper-button-prev {
    background: url("/photos/40-1.png");
    background-position: center;
    background-size: cover;
    top: 15%;
    width: 35px !important;
    height: 30px !important;
    margin: 0px 20px;

    &::after {
      content: "" !important;
    }
  }
  .swiper-button-prev {
    transform: rotate(-180deg);
  }
}

// form
.v-field-label--floating,
.v-field-label {
  color: #fff !important;
}
.v-field__field {
  border: 2px solid #fff !important;
}
.ar {
  .v-field-label,
  .v-field-label--floating {
    right: 0 !important;
    left: auto !important;
  }
  input,
  textarea {
    text-align: right;
  }
}

.contact {
  .v-field-label--floating,
  .v-field-label {
    color: #888 !important;
  }
  .v-field__field {
    border: 2px solid transparent !important;
  }
}

// attachments
.Attachments {
  margin-bottom: 50px;
  margin-top: 10px;
  padding: 0;
  li {
    a {
      color: #333;
      text-decoration: underline;
    }
  }
}

// gallery
.p-galleria-mask {
  z-index: 100000000000 !important;
}
.p-galleria-thumbnails-content {
  background-color: transparent !important;
}
.p-galleria {
  border: none !important;
  button {
    color: #fff;
  }
}
.p-galleria-thumbnail-item {
  overflow: hidden !important;
}

// primvue select lang
.top {
  .p-select {
    border-color: $main !important;
    background: transparent !important;
    border-radius: 8px !important;
    color: #fff !important;
  }

  .p-select.p-focus {
    border-color: $main !important;
    outline-color: $main !important;
    box-shadow: $main !important;
    color: #fff !important;
  }
}

.food-by-cat {
  .p-select {
    border-color: $main !important;
    background: linear-gradient(to left, #146890, #45b2e9, #146890) !important;
    border-radius: 8px !important;
  }

  .p-select.p-focus {
    border-color: $main !important;
    outline-color: $main !important;
    box-shadow: $main !important;
  }
}
.p-select-label {
  color: #fff !important;
}
.p-select-dropdown {
  svg {
    color: #fff !important;
  }
}

// number input primevue
.p-inputtext.p-component.p-inputnumber-input {
  background: transparent !important;
  color: #333 !important;
  font-size: 20px !important;
  border-color: $main !important;
  outline-color: $main !important;
}
.p-inputnumber-button-group {
  background: $main !important;
  right: 0 !important;
  .p-inputnumber-button.p-inputnumber-increment-button,
  .p-inputnumber-button.p-inputnumber-decrement-button {
    color: #fff !important;
    &:hover {
      background: #144e69 !important;
    }
  }
}
.ar {
  .p-inputnumber-button-group {
    left: 0 !important;
    right: auto !important;
  }
}

// rating
.p-rating-option {
  margin: 0px 5px !important;
}

//date picker
.p-inputtext.p-component.p-datepicker-input {
  height: 54px !important;
  padding: 0.375rem 0.75rem !important;
  background-color: transparent !important;
  color: $main !important;
  border-color: $main !important;
  &:focus,
  &:focus-visible {
    outline: 1px solid $main !important;
  }
}
.p-datepicker-dropdown {
  background-color: $main !important;
  svg {
    color: #fff !important;
  }
}
.p-datepicker-day.p-datepicker-day-selected {
  background-color: $main !important;
  color: #fff !important;
}

//contact
.contact {
  a {
    color: #333;
  }
}
//about
.about {
  strong {
    line-height: 40px;
  }
  .about-text {
    p {
      span {
        color: rgb(94 94 94) !important;
      }
    }
  }
}

// image preview
.p-image-mask {
  z-index: 100000000 !important;
  border-radius: 16px !important;
}
.p-image-original {
  height: 80vh !important;
  border-radius: 16px !important;
  object-fit: contain !important;
}
.p-image-preview-mask {
  border-radius: 16px !important;
  svg {
    color: #fff !important;
  }
}
.p-image {
  img {
    border-radius: 16px !important;
    width: 100% !important;
    object-fit: cover;
  }
}

// vue flux
.vue-flux {
  width: 80vw !important;
  overflow: hidden;
  height: 80vh !important;
  background: #427995d3 !important;
  border-radius: 16px !important;
  z-index: 1001 !important;
  .flux-transition {
    max-height: calc(100vh - 48px) !important;
    max-width: 100% !important;
    overflow: hidden;
  }
  .flux-image {
    max-width: 100% !important;
    background-position: center !important;
    background-size: auto !important;
    max-height: calc(100vh - 48px) !important;
    background-position: center !important;
    background-size: contain !important;
  }

  .complements {
    .visible {
      .flux-image {
        height: 197px !important;
        width: 197px !important;
        background-position: center !important;
        background-size: cover !important;
      }
    }
  }

  .preloader {
    width: 100% !important;
  }
}
